body {
  background-color: aliceblue;
}

.app {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.header {
  background-color: #282c34;
  height: 1em;
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: left;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#project-select {
  font-size: large;
  background-color: aliceblue;
  width: auto;
  border-radius: 0.25em;
}

.content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  padding: 1em;
  gap: 1em;
  min-height: 0;
}
#items-title {
  color: aliceblue;
}
.items {
  flex-grow: 1;
  overflow: auto;
  border-radius: 0.5em;
  flex-basis: 60%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.items-wrapper {
  flex-grow: 1;
  overflow: auto;
}


thead {
  position: sticky;
  top: 0;
}
.items-wrapper table thead th {
  
  top: -20px;
  z-index: 2;
  height: 20px;
  width: 35%;
  padding-right: 1em;
  background-color: #80b6fd;
}


table {
  width: 100%;
  border-collapse: collapse;
}

tbody {
  overflow: scroll;
}

td {
  border-color: #282c34;

  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

tr {
  background-color: #e6f2ff;
}
tr:nth-of-type(even) {
  background-color: #c4dfff;
}

tr.selected-item {
  background-color: #ffe4c4
}



.events {
  flex-grow: 1;
  overflow: auto;
  border-radius: 0.5em;
  flex-basis: 40%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  background-color: bisque;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}



#events-title {
  color: #282c34;
}

.scroll-events {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.event-wrapper {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.event {
  border-radius: 0.5em;
  overflow: hidden;
  background-color: aliceblue;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.event-header {
  background-color: #80b6fd;

  color: aliceblue;
  padding: 0.5em;
}

.event-header b {
  margin: 0;
}

.event-content {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  padding: 0.5em;
}

.event-content p {
  margin: 0;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.445);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.445);
}